{% extends  'main/layout.html' %}

{% block title_page %}Авторизация{% endblock %}

{% block content %}
    <h1>Войти в профиль</h1>
    <div class="form_auth_block">
        <div class="form_auth_block_content">
          <p class="form_auth_block_head_text">Авторизация</p>
          <form class="form_auth_style" action="#" method="post">
            {% csrf_token %}
            <label>Введите Ваш имейл</label>
            <input type="text" name="username" placeholder="Введите Ваш имейл" required >
            <label>Введите Ваш пароль</label>
            <input type="password" name="password" placeholder="Введите пароль" required >
            {{ form.errors }}
            <button class="form_auth_button" type="submit" name="form_auth_submit">Войти</button>
            <p><a href="{% url 'users:register' %}">Зарегистрироваться</a></p>
          </form>
        </div>
      </div>

{% endblock %}